<h3>Morada:</h3>
<div class="control">
	<h4>GPS:</h4>
	<label for="gps-lon">Longitude:</label>
	<input type="text" id="gps-lon" class="inline" ng-model="location.morada.gps.lon">
	<label for="gps-lon">Latitude:</label>
	<input type="text" id="gps-lat" class="inline" ng-model="location.morada.gps.lat">
</div>
<div class="control">
	<h4>Código Postal</h4>
	<label for="cp4">CP4</label>
	<input type="text" id="cp4" maxlength="4" ng-model="location.morada.cp4">
	<label for="cp3">CP3</label>
	<input type="text" id="cp3" maxlength="3" name="morada[cp3]" ng-model="location.morada.cp3">
</div>
<div class="control">
	<label for="localidade">Localidade:</label>
	<input type="text" id="localidade" ng-model="location.morada.localidade">
</div>
<div class="control">
	<label for="cidade">Cidade:</label>
	<input type="text" id="cidade" ng-model="location.morada.cidade">
</div>
<div class="control">
	<label for="rua">Rua:</label>
	<input type="text" id="rua" ng-model="location.morada.rua">
</div>
<div class="control">
	<label for="num">Número da Porta:</label>
	<input type="text" id="num" ng-model="location.morada.num">
</div>
<div class="control">
	<label for="andar">Andar:</label>
	<input type="text" id="andar" ng-model="location.morada.andar">
</div>